.react-orientation {
  display: inherit;
}

@media all and (orientation: landscape) {
.react-orientation--portrait {
    display: none;
  }

  .react-orientation--landscape {
    display: inherit;
  }
}

@media all and (orientation: portrait) {
  .react-orientation--portrait {
    display: inherit;
  }

  .react-orientation--landscape {
    display: none;
  }
}
